body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*.form-control:focus{*/
/*  border-color: #80bdff!important;*/
/*  box-shadow: none!important;*/
/*}*/
/*.react-select__control--is-focused {*/
/*  border-color: #80bdff;*/
/*  box-s
 */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row{
  margin-right: 0!important;
  margin-left: 0!important;

}
.row > *{
  margin-top: 0!important;
}
/*.row > *{*/
/*  padding-right: 0!important;*/
/*  padding-left: 0!important;*/
/*}*/

@media (max-width: 768px){
  .row > *{
    padding-right: 0!important;
    padding-left: 0!important;
  }
}
