.top_block{
    background-color: #e5e5ea;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(171, 171, 171, 0.9);
}
.contact_block {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.prep_block{
    padding: 20px 30px;
}
.sub_informations{
    box-shadow: 0 0 10px rgba(171, 171, 171, 0.9);
    margin-top: 20px!important;
    background-color: #e5e5ea;
    border-radius: 20px;
    padding: 30px 30px;
    min-height: 285px;
    overflow-y: auto;
    overflow-x: hidden;
}
/*.sub_informations::-webkit-scrollbar {*/
/*    width: 5px;*/
/*    height: 50px;*/
/*}*/

/*.sub_informations::-webkit-scrollbar-thumb {*/
/*    background-color: #000;*/
/*}*/

/*.sub_informations::-webkit-scrollbar-track {*/
/*    background-color: #e5e5ea;*/
/*}*/
.submit_btn{
    text-align: center;
    margin: 0 auto 10px;
    display: flex;
}
.add_user_block{
    padding: 10px;
}
.first_row{
    display: flex;
    justify-content: normal;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}
.rows{
    margin-top: 30px;
}
@media (max-width: 767px) {
    .sub_informations{
        margin-top: 0!important;
    }
    .form_block{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}