.param_info{
    padding: 20px;
    width: 1000px;
    border: 1px solid #343434;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.add_new_param{
    background: #5f98ff;
    width: 300px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    color:white;
    transition: 0.3s ease-in;
}
.add_new_param:hover{
    background: #446cff;
    cursor: pointer;
}